body {
  background-image: url(https://i.pinimg.com/736x/2a/c7/59/2ac75948ec1d8580bfeefe2df8f04574.jpg);
  background-size: cover;
  color: black;
}

.navbar {
    background-color:#660000;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: #660000; 
}

.navbar-toggler {
    border-color: white;
}

/* Change the card background color */
.card {
    background-color: #f8d7da !important; /* Light red/pinkish background */
    border: 2px solid #dc3545; /* Optional: Adds a red border */
    color: black; /* Ensures text remains visible */
}
