/* CSS: Jaiyanah Baring & Lauren Villafuerte */

body {
    background: url("https://i.pinimg.com/736x/8e/21/a7/8e21a7d51b84f95d31a9e27832140ded.jpg") center/cover no-repeat;
    background-attachment: fixed;
    color: black;
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}

.navbar {
    background-color: #490404 !important;
    background-image: none !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar .nav-link:hover {
    color: black;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.card {
    background-color: #343131 !important;
    border: 2px solid #3D0301;
    color: black;
    border-radius: 10px;
}

.card h2 {
    color: #F4DEB3 !important;
}

.carousel {
    max-width: 800px; 
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-item img {
    width: 100%;
    height: 500px; 
    height: auto;
    display:block;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Makes arrows white */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px; /* Smaller height for mobile */
    }
}

.ticket-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.choose-ticket {
    display: block;
    width: fit-content;
    margin: 10px auto;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.choose-ticket:hover {
    background-color: #1a1919;
}
